


// ------------------------------------------------------------*/
/* ===============================================================
			[ * variable Section ] 
================================================================*/
/* --------------- variable --------------- */
$theme1: #0066ff;
$theme2: #4a00e1;
$black: #000;
$primary:#0066ff;
$secondary:#02b5ff;
$blue4: #5842bc;
$blue5: #157efb;
$blue6: #6640f4;
$blue7: #8169f1;
$lightBlue:#15f1ff;
$darkBlue:#010049;
$darkBlue2:#1f227d;
$orange1:#ff7a41;
$orange2:#f6c463;
$orange3:#f9a41f;
$red1:#cc2131;
$red2:#ef1552;
$green:#00c057;
$yellowGreen:#cef54b;
$gray:#eef4f8;
$gray2:#f0eff5;
$theme1-grad: linear-gradient(to right, #0c3df4 0%, #02b5ff 100%);